@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=Dancing+Script:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for dark mode */
body {
    @apply bg-ide-background text-ide-white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px; /* Reduced base font size */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    @apply mx-auto px-4;
    max-width: 800px; /* Set a max-width for the content */
}

h1, h2, h3, h4, h5, h6 {
    @apply text-ide-yellow;
}

a {
    @apply text-ide-blue;
}

.font-dancing-script {
    font-family: 'Dancing Script', cursive;
}